@import 'color.scss';

.mapCol {
  width: 1100%;
  ;

  .mapImage {
    border-radius: 8px 8px 0 0;
    max-width: 90%;
  }


  .mapName {

    width: 100%;
    font-weight: bold;
    color: $bleuDark;
  }


}

.card-body {
  border-radius: 0 0 8px 8px;
  margin: 0 1rem 1rem 1rem;
  background-color: $bleuFoncé !important;
  padding: 20px 0 0 0 !important;

}

.card {
  border: none !important;
  background-color: transparent !important;
}