@import 'color.scss';

.mapBannerRow {
  align-items: center;
  margin-top: 0 !important;

  .bgAvatarBanner {
    border-radius: 8px !important;
    background-color: $bleuTurquoise
  }

  .imageYsat {
    width: 10%;
    max-width: 100px;
    margin-right: 20px;
  }

  .infoCreator {
    margin: 0px;
  }

  .pseudoJoueur {
    margin: 0 !important;
    font-weight: bold;
    color: #343a40;
    font-size: 1.6rem;
  }
}