input {
  text-align: center;
  margin-bottom: 20px;
}

fieldset {
  width: 300px;
  margin: auto !important;
}
.submit {
  border: 1px;
  border-color: black;
  margin-bottom: 20px;
}
.button {
  margin-bottom: 20px;
}
.avatarField {
  display: flex;
}
.avatarField img {
  height: 100px;
  width: 100px;
}
.champAvatar {
  width: 150px !important;
  margin-right: 50px;
  margin-top: 25px;
}
