/* Css du component */
.Intro {
  margin-top: 3vh;
  margin-bottom: 4vh;
}

/* Titre Calypso */
.Calypso {
  width: 85%;
}

.PoulpeTalk {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 4vh;
}

.Mascotte {
  width: 25%;
}

p {
  margin: 2vw;
}
