.mapBannerRow {
  align-items: center;
  margin-top: 20px !important;

  .imageYsat {
    width: 100%;
    max-width: 100px;
    margin-right: 20px;
  }

  .infoCreator {
    margin: 0px;
  }
  .pseudoJoueur {
    font-weight: bold;
    color: #343a40;
  }
}
