/* Css component UserBanner.jsx */

.userbanner {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background-color: #ffcf3b;
  border-bottom: 1px solid black;

  &.nav p {
    display: inline-block;
    margin: 10px;
  }

  &.nav img {
    margin: 0 10px;
    width: 30px;
    height: 30px;
  }

  .namePlayer {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: grey;
  }

  .nbr_abo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: grey;
  }

  .buttonBanner {
    background-color: transparent;
    border: none;
  }
}
